spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/${POSTGRES_DB:walletdb}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
  liquibase:
#    change-log: classpath:db/changelog/changelog-1.0.xml
server:
  port: ${SERVER_PORT:8080}